
.text-style {
    color: #1f363d;
}

.card-style {
    background-color: #cfe0c3;
    border: 2px solid #40798c;
}

img {
    cursor: pointer;
}

.badge-bg {
    background-color: #40798c;
}

.amenities-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.amenity-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 1.1em;
    color: #333;
}

.amenity-icon {
    margin-right: 10px;
    color: #40798c;
    font-size: 20px;
}
