.navbar.bg-custom {
  background-color: #1f363d;
}

.navbar-logo {
  width: 40px; /* Ajusta el tamaño según sea necesario */
  margin-right: 10px;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .btn {
  color: #fff;
  border-color: #fff;
}

.navbar-nav .btn:hover {
  background-color: #fff;
  color: #1f363d;
}
